<!-- OPCJONALNY NAGŁÓWEK -->
<!--<header id="header">-->
<!--    <div class="content">-->
<!--        <div id="logo">-->
<!--            Parallax-->
<!--        </div>-->
<!--        <nav id="nav">-->
<!--        </nav>-->
<!--    </div>-->
<!--</header>-->

<div id="slide1">
  <div class="content">
    <h1 class="blurb">Aleksander Woźniak</h1>
  </div>
</div>

<div id="slide2">
  <div class="content">
    <div class="blurb-container">
      <h3 class="blurb">Jakiś bełkot. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, blanditiis, facilis, illo, saepe iusto perspiciatis totam quaerat ab quidem omnis illum veritatis praesentium vero. Rerum repellat tenetur earum iure voluptate!</h3>
    </div>
  </div>
</div>

<div id="slide3">
  <div class="content">
    <div class="blurb-container">
      <h3 class="blurb">Jakiś bełkot. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, officiis, incidunt odit fugiat eius explicabo doloremque alias amet quidem accusamus iste facere commodi est voluptates quas magni id nam temporibus.</h3>
    </div>
  </div>
</div>

<div id="slide4">
  <div class="content">
    <div class="blurb-container">
      <h3 class="blurb">THE END. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, blanditiis, facilis, illo, saepe iusto perspiciatis totam quaerat ab quidem omnis illum veritatis praesentium vero. Rerum repellat tenetur earum iure voluptate!</h3>
    </div>
  </div>
</div>