<!-- OPCJONALNY NAGŁÓWEK -->
<!--<header id="header">-->
<!--    <div class="content">-->
<!--        <div id="logo">-->
<!--            Parallax-->
<!--        </div>-->
<!--        <nav id="nav">-->
<!--        </nav>-->
<!--    </div>-->
<!--</header>-->

 <!--<div class="container">-->
 <!--   <div class="row">-->
 <!--       <div class="col-md-12">-->
            <div id="slide1">
              <div class="content">
                  <div class="screen">
                    <h1>Portfolio</h1>
                    <h2>Aleksander Woźniak</h2>
                    <h3 class="blurb">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, error, ducimus fugit rerum unde similique odio dolorum blanditiis eius corporis voluptatibus delectus inventore sed doloribus facere neque veniam molestias omnis.</h3>
                </div>
              </div>
            </div>
            
            <div id="slide2">
              <div class="content">
                <div class="blurb-container">
                  <h3 class="blurb">Jakiś bełkot. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, blanditiis, facilis, illo, saepe iusto perspiciatis totam quaerat ab quidem omnis illum veritatis praesentium vero. Rerum repellat tenetur earum iure voluptate!</h3>
                </div>
              </div>
            </div>
            
            <div id="slide3">
              <div class="content">
               <%= render 'carousel.html.erb' %>
              </div>
            </div>
        
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<div id="slide-cv">
    <%= render 'cv.html.erb' %>
</div>